#edu {
  overflow: hidden;
  margin: 0 auto;
  width: 100vw;
  max-width: 65rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.eduTitle {
  font-size: 3rem;
  font-weight: 600;
  padding-top: 3rem;
  margin-bottom: 1rem;
  justify-content: center;
  font-size: 3rem;
  font-weight: 400;
}

.container {
  display: flex;
  margin: 1rem;
  width: 100vw;
  max-width: 80%;
  text-align: left;
  background: #323232;
  border-radius: 0.5rem;
  padding: 1.5rem 2rem;
}

.container>ul>li {
  list-style: none;
  margin: 0.5rem;
}

.container>ul>li>span {
  color: yellow;
}
