* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background-color: transparent;
  font-family: 'Poppins',sans-serif;
}

body {
  background: #161616;
  color: white;
  overflow: hidden;
  overflow-y: scroll;
}