.footer {
  width: 100vw;
  height: 4rem;
  background: #3232325c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 300;
  font-size: small;
}